* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --roxo:hsl(263, 55%, 52%);
    --roxo-claro:hsl(264, 82%, 80%);
    --cinza-card:hsl(217, 19%, 35%);
    --cinza-fonte: hsl(214, 17%, 92%);
    --azul-escuro:hsl(219, 29%, 14%);
}

@font-face {
    font-family: fonte-principal;
    src: url(BarlowSemiCondensed-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

body{
    font-family: fonte-principal;
    background-color: hsl(0, 0%, 81%); 
}

h2 {
    font-size: 15px;
}

main {   
    margin: 50px 0;

    display: grid;
    grid-template-columns: 40px 1fr 40px;
    row-gap: 50px;
}

section {
    margin: 0px 0px;   
    grid-column: 2 / 3;
    padding: 20px 25px;
    border-radius: 10px;
    text-align: justify;
    color: var(--cinza-fonte);
}

section img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid var(--roxo-claro);
}

#section-daniel {
    background-color: var(--roxo);
}

.icone-apresentacao {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}

.txt-principal {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: bold;
}

.txt-secundario {
   color: lightgray; 
}

#section-jonathan {
    background-color: var(--cinza-card);
}

#section-jeanette {
    background-color: white;
    color: var(--cinza-card);
}

#section-jeanette .txt-secundario {
    color: var(--cinza-card);
}

#section-patrick {
    background-color: var(--azul-escuro);  
}

#section-kira {
    background-color: white;
    color: var(--cinza-card);
}

#section-kira .txt-secundario {
    color: var(--cinza-card);
}
