@media screen and (min-width: 1000px) {

    main {
       margin: 50px 100px;

       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: 1fr 1fr;
       gap: 20px;
    }

    #section-daniel {
        background-image: url(bg-pattern-quotation.svg);
        background-repeat: no-repeat;
        background-position: 90% 5%;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    #section-jonathan {
        grid-column: 3 / 4;
        grid-row: 1/ 2;
    }

    #section-jeanette {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #section-patrick {
        grid-column: 2 / 4;
        grid-row: 2/ 3;
    }

    #section-kira {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
}

}